<!DOCTYPE html>
<html>
<head>
  <title>SoulRestaurant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if current_page ? (root_path) %>"><a href="<%= root_path %>">Home</a></li>
      <li class="<%= 'active' if current_page ? (menu_path) %>"><%= link_to "Menu", menu_path %></li>
      <li class="<%= 'active' if current_page ? (contact_path) %>"><%= link_to "Contact Us", contact_path %></li>
    </ul>
  </div>
</nav>
<div class="container">
<%= yield %>
</div>

</body>
</html>
