<% if @section.present? %>
<h1><%= @section.name %></h1>
<% else %>
<h1>All Sections</h1>
<% end %>
<table class="table table-striped">
    <thead>
	    <tr>
	        <th>Image</th>
	        <th>Name</th>
          <th>Description</th>
	        <th>Price</th>
          <th>Section</th>
      	</tr>
    </thead>
    <% @items.each do |item| %>
    <tbody>
      	<tr>
          <td><img src="<%= item.remote_image_url %>" height="140" width="120"></td>
	        <td><%= item.name %></td>
	        <td><%= item.description %></td>
	        <td><%= item.price %></td>
          <td><%= item.section.name %></td>
      	</tr>
    </tbody>
    <% end %>
  </table>
